/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');
/* css global */

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Yasabeau Infant', sans-serif;
    text-decoration: none;
}

body {
    text-align: center;
}

.titulo-logo {
    position:relative;
    right: 150px;

    width: 500px;
    margin: 40px 0;
    font-size: 55px;
    color: #ffffff;
    text-shadow: 3px 6px 1px #000000;
}
.titulo-logo::before {
    content: "";
    position: absolute;
    width: 65px;
    height: 5px;
    bottom: 0;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    border-radius: 4px;
}
/* Efeito gradiente no texto h1*/
.titulo-logo::after {
    content: url("../assets/verificado.png");
    margin: 10px;
}

.banner {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
/*  vídeo de fundo da seção banner */
.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
    position: absolute;
    top: 0;
    left: 0;
}
/* imagem da logo do neymar */
.banner img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
/*  container e div usada para fazer o efeito gradiente */
.container {
    padding-top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
}

.container::before{
    margin-top: 40px;
    content: "";
    width: 215px;
    height: 215px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    position: absolute;
    border-radius: 100%;
    z-index: -1;
    top: -9px;
    left:-8px;
}

/* container com as listas de link para redes sociais do Neymar */

ul li {
    width: 768px;
    height: 50px;
    border: 1px solid;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0200006e;
    color: #fff;
}

/* efeito dos links ao passar o mouse em cima */
li a {
    color: inherit; /*Aqui o elemento li a vai herdar a cor do elemento pai  li  */
}

li:hover {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
} 

/* links personalização das imagnes */
.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 190px auto;
}
.link-youtube::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../assets/youtube.png");
    background-size: cover;
    margin: 6px;
}

.link-instagram::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../assets/instagram.png");
    background-size: cover;
    margin: 6px;
}

.link-twitter::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../assets/twitter.png");
    background-size: cover;
    margin: 6px;
}

.link-facebook::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../assets/facebook.png");
    background-size: cover;
    margin: 6px;
}

.link-twitch::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../assets/twitch.png");
    background-size: cover;
    margin: 6px;
}

/* Seção de estátisticas */
.estatisticas {
    width: 100%;
    height: 100vh;
    font-family: 'Monstserrat', sans-serif;
    background-image: url("../assets/imagem-de-fundo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.estatisticas h2 {
    font-size: 72px;
    text-shadow: 3px 6px 1px #000000;
    color: #fff;
}
/* Tabelas das estatisticas */

table {
    width: 768px;
    margin: 0 auto;
}

table td img{
    width: 30px;
}
table td:nth-child(1) {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
table th{
    font-size: 26px;
    padding: 20px;
    background-color: #0200006e;
    color: #ffffff;
}

table, th, tr, td {
    padding: 20px;
}

tbody tr:nth-of-type(odd){
    background-color: #fff;
}

tbody tr:nth-of-type(even){
    background-color: #0200006e;
    color: #ffffff;
}

